<section class="pt-50 pb-50">
	<div class="container">
		<div class="row pb-50">
			<div class="col-md-12">
				<div class="content-block">
					<a href="<%= root_path %>" class="home-back-btn">
						<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.94531 18.0156L10.7266 17.2734C10.9219 17.0781 10.9219 16.7656 10.7266 16.6094L4.67188 10.5156H18.0312C18.2656 10.5156 18.5 10.3203 18.5 10.0469V8.95312C18.5 8.71875 18.2656 8.48438 18.0312 8.48438H4.67188L10.7266 2.42969C10.9219 2.27344 10.9219 1.96094 10.7266 1.76562L9.94531 1.02344C9.78906 0.828125 9.47656 0.828125 9.28125 1.02344L1.11719 9.1875C0.921875 9.38281 0.921875 9.65625 1.11719 9.85156L9.28125 18.0156C9.47656 18.2109 9.78906 18.2109 9.94531 18.0156Z" fill="black"></path></svg>
						<span>Back to homepage</span>
					</a>
					<h3 class="about-us-content-heading">About</h3>
					<p class="about-us-content-para">At Powned, we're excited about a brand new type of digital good often referred to as a non-fungible token, or NFT. NFTs have exciting new properties: they’re unique, provably scarce, liquid, and usable across multiple applications. Just like physical goods, you can do whatever you want with them! Gift them to a friend across the world, or go sell them on an open marketplace. But unlike physical goods, they're armed with all the programmability of digital assets.</p>
					<p class="about-us-content-para">At Powned we truly believe that Gamers are true sport players and need to be able to make a living out of their sport. We're building tools that allow any content creator to engage with fans and provide users with exclusive digital assets.</p>
					<p class="about-us-content-para">We’re proud to be the first and largest marketplace for content creators within the gaming industry, which include collectibles, gaming items, video clips, digital art, and other assets backed by a blockchain.</p>
					
				</div>
			</div>
		</div>
	</div>	
</section>